always-auth=true
@x62en:registry=https://registry.npmjs.org/
_authToken=${{ secrets.NPM_AUTH_TOKEN }}
@x42en:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${{ secrets.GITHUB_TOKEN }}